<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!--<link rel="stylesheet" href="../css/index.css">-->
    <!--<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>-->
</head>
<body>
<!--<h1><%= htmlWebpackPlugin.options.info %></h1>-->
<h1>这是个模板页  ：打包文件在assets中，webpack打包，webpack-dev-server --inline --hot 启动服务器。已实现热插拔</h1>
<div id="haha">

</div>

<!--<script type="text/javascript" src="../js/index.js"></script>-->
</body>
</html>